<!doctype html>
<title>Hello from Flask</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="../static/hello.css" rel="stylesheet" type="text/css">
<div class="hello-task">
  <div class="hello-view">
    <div class="hello-sec1">
      <div class="hello-text">
        مرحبا <span style="color:#909090;"> {{ name }} <span>
      </div>
      <div class="hello-greet">
        يومك سعيد
      </div>
      <img src="../static/img/Happy-Coding.png">
    </div>
  </div>
</div>
</div>

</html>