<!doctype html>
<title>Atta</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="../static/index.css" rel="stylesheet" type="text/css">
<div class="hello-task">
	<div class="hello-view">
		<div class="hello-sec1">
			<div class="hello-img">
				<img src="../static/img/Logo.png">
			</div>
			<div class="hello-text">
				مرحبا ضيفنا العزيز
			</div>
		</div>
		<div class="hello-sec2">
			<form class="hello-form">
				<input class="hello-tbox" placeholder="فضلا ادخل اسمك" name="name">
				<div class="hello-submit-p">
					<button class="hello-submit">
						سجل
					</button>
				</div>
			</form>
		</div>

	</div>
</div>
</div>
</html>